body{
background:#050f2b;
color:white;
font-family:Inter,sans-serif;
}

.landing{
background:#050f2b;
}

/* NAVBAR */

.navbar{
height:80px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 80px;
}

.logo{
font-size:32px;
font-weight:700;
}

.nav-links{
display:flex;
gap:40px;
}

.nav-links a{
color:#c7d2fe;
text-decoration:none;
}

.nav-buttons{
display:flex;
gap:15px;
}

/* BUTTONS */

.primary-btn{
background:#8b5cf6;
border:none;
color:white;
padding:14px 28px;
border-radius:14px;
cursor:pointer;
}

.secondary-btn{
background:transparent;
border:1px solid rgba(255,255,255,.15);
color:white;
padding:14px 28px;
border-radius:14px;
}

.login-btn{
background:none;
border:none;
color:white;
}

/* HERO */

.hero{
text-align:center;
padding:120px 20px;
position:relative;
}

.hero-glow{
width:600px;
height:600px;
background:#8b5cf6;
filter:blur(180px);
opacity:.18;
position:absolute;
top:-150px;
left:50%;
transform:translateX(-50%);
}

.badge{
background:rgba(139,92,246,.15);
border:1px solid rgba(139,92,246,.3);
padding:10px 20px;
border-radius:30px;
}

.hero h1{
font-size:82px;
line-height:1.05;
margin-top:30px;
}

.hero p{
color:#94a3b8;
font-size:22px;
max-width:800px;
margin:auto;
}

.hero-buttons{
margin-top:40px;
display:flex;
justify-content:center;
gap:20px;
}

/* DASHBOARD */

.dashboard-section{
text-align:center;
padding:80px 20px;
}

.dashboard-wrapper{
margin-top:60px;
}

.dashboard-wrapper img{
width:85%;
border-radius:24px;
box-shadow:
0 0 80px rgba(139,92,246,.35);
}

/* FEATURES */

.features{
padding:120px 80px;
text-align:center;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
margin-top:60px;
}

.feature-card{
background:rgba(255,255,255,.03);
border:1px solid rgba(255,255,255,.06);
padding:40px;
border-radius:24px;
}

/* HOW IT WORKS */

.how-it-works{
padding:120px 80px;
text-align:center;
}

.steps{
display:flex;
gap:30px;
justify-content:center;
margin-top:50px;
}

.step{
width:280px;
padding:40px;
border-radius:20px;
background:rgba(255,255,255,.03);
}

.step span{
color:#8b5cf6;
font-size:40px;
font-weight:bold;
}

/* CTA */

.cta{
padding:140px 20px;
text-align:center;
}

/* FOOTER */

.footer{
text-align:center;
padding:60px;
border-top:1px solid rgba(255,255,255,.08);
}
